.line {
  display: flex;
  align-items: center;
  gap: 8px;
}

.line::before {
  content: "";
  width: 30%;
  height: 1.3px;
  background-color: white;
  transition: width 0.3s ease;
}

.line:hover::before {
  width: 100%;
}
