.line {
  content: "";
  width: 40px;
  height:1.3px;
  opacity: 0.6;
  background-color: white;
}

.acivation:hover .line {
  animation: grow 1s forwards;
}

@keyframes grow {
  from {
    width: 40px;
    opacity: 0.6;
  }

  to {
    width: 60px;
    opacity: 1;

  }
}
