.line {
  content: "";
  width: 20px;
  height:1.3px;
  opacity: 0.6;
  background-color: white;
  /* animation: grow 1s forwards; */
  /* -webkit-animation:; */
}


@keyframes grow {
  from {
    width: 1%;
  }

  to {
    width: 100%;
  }
}
