.activation{
  opacity: 0.6;

}
.line {
  width: 40px;
  background-color: white;
  height: 1.3px;
  transition: width 0.5s ease, opacity 0.5s ease;
  -webkit-transition: width 0.5s ease, opacity 0.5s ease;
  -moz-transition: width 0.5s ease, opacity 0.5s ease;
  -ms-transition: width 0.5s ease, opacity 0.5s ease;
  -o-transition: width 0.5s ease, opacity 0.5s ease;
}

.activation:hover .line {
  width: 80px;
  opacity: 1;
}
.activation:hover {
  opacity: 1;
}