@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-primary: #53cdd1;
  --text-primaryBold: #47b2b6;
  --primary: #53cdd1;
  --primary_1: #64ffda;
  --slate:#8892b0
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body {
  min-height: 100vh;
  background-color: #08162A;
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  /* display: none; */
  background-color: #08162a;
  width: 5px;
  /* height: 5px; */
}

body::-webkit-scrollbar-thumb {
  background-color: #8e98a7;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar {
  background-color: #08162a;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #8e98a7;
  border-radius: 10px;
}

p {
  font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
  ;
}

@keyframes bounceOnce {
  0%, 80% {
    transform: translateY(0);
  }
  85% {
    transform: translateY(-8px);
  }
  90%, 100% {
    transform: translateY(0);
  }
}

.bounce-pause {
  animation: bounceOnce 3s ease-in-out infinite;
}